<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="./static/script.js"></script>
    <style>
        .center-heading {
            text-align: center;
        }
    </style>

</head>
<body>
    <div class="card">
	<h1 class="center-heading">Running Pace Calculator</h1> 
        <div style="padding: 25px 25px 25px 25px;">
        <div class="card-body">
            <div class="mb-3">
                <label class="form-label">Distance</label>
                <input type="number" class="form-control" id="distance">
            </div>
    
            <div class="mb-3">
                <label class="form-label">Time</label>
                <input type="text" class="form-control" id="time">
            </div>
    
            <div style="padding: 25px;">
                <button onclick="paceCalculator()" class="btn btn-secondary">Calculate</button>
            </div>
	<h1 class="center-heading">Response from server</h1> 
            <div style="padding: 25px 25px 25px 25px;">
    
            <div id="system_response" style="padding: 25px;"></div>
        </div>
    </div>
</body>
</html>
